*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
}
body{
    background: linear-gradient(to right, rgb(226, 236, 242), rgb(245, 224, 227), rgb(244, 244, 244));
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(243, 217, 201), rgb(245,224, 224));
    padding: 0;
    width: 100%;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    padding-left: 1.5rem;
}
.item a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-size: 15px;
}
.item a:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 123, 255);
    padding: 12px 20px;
    border-radius: 9px;
}
#logo{
    width: 4rem;
    height: 4rem;
}
#logo img{
    width: 100%;
    height: 100%;
}
.head, table{
    border-collapse: collapse;
}
#main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table_header {
    background-color: rgb(108, 92, 231);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(75, 75, 155);
}

.table_header {

    font-size: 12px;
    text-transform: uppercase;
}

.table {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem;
}

thead tr {
    background-color: rgb(248, 248, 248);
}

.head, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.head {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}

tr:hover {
    background-color: rgb(241, 241, 241);
}

.action-btn {
    background-color: rgb(108, 92, 231);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in;
}

.action-btn:hover {
    background-color: rgb(75, 75, 155);
}

.prediction {
    background-color: rgb(255,255,255);
    line-height: 1.5;
    max-length: 6;
    size: 14px;
    font-size: 12px;
    color: rgb(51, 51, 51);
}

@media (max-width: 768px) {
    th, td {
        padding: 8px;
    }
    .action-btn {
        padding: 6px 12px;
        margin:2px;
    }
}